.avatar {
  margin-left: 7.5em;
  width: 125px;
  height: 125px;
  border-radius: 50%;
  padding: 5px;
}

.name{
  margin-left: 6em;
  color: #b4cece;
  margin-bottom: 20px;
}


.head{
  width: 70vw;
}

.header{
  background: #01103a;
  margin-left: -0.9em;
  width: 100vw;
}

.horizontal {
  background: #3b3c3f63;
  width: 100vw;
  height: 1px;
  margin-left: -1em;
}

.nav-link :hover{
  color: #b4cece;
  background: #01103a;
}